* {
    color: orange;
}

/*h1 {
color: blueviolet;
}

h3 {
    color: blue;
}

/*.question {
    color: aqua;
}*/

/*.describing, .question {
    color: red;
}

#beach {
    color: lawngreen;
}

div.question {
    color: saddlebrown;
}

.text p{
    color: tomato;
}

.text > p {
    color: hotpink;
}

.text ~ p {
    color: khaki;
}

.text + p {
    color: orange;
}*/

